@{
    RenderTitleSegments(T["New {0}", Model.ContentType?.DisplayName]);
}
<h3 class="card-title mb-3">@T["New {0}", Model.ContentType?.DisplayName]</h3>
<form asp-action="Create" asp-route-profileId="@Model.ProfileContentItem.ContentItemId" asp-route-contentTypeId="@Model.ContentType.Name" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
