@model NotificationTemplatePartViewModel
@using System
@using Newtonsoft.Json

<div class="mb-3">

    <label asp-for="TemaplateName">@T["Template"]</label>
    <select asp-for="TemaplateName" class="form-select">
        <option value="">@T["Select an event to dispatch template"]</option>
        @foreach (var option in Model.Options)
        {
            <option value="@option.Id" data-description="@option.Description" data-arguments="@JsonConvert.SerializeObject(option.Arguments ?? Enumerable.Empty<string>())" data-is-based-on-content-item="@option.IsContentItemBased.ToString().ToLowerInvariant()" data-is-predefined-notifier="@option.IsPredefinedNotifier.ToString().ToLowerInvariant()">@option.Title</option>
        }
    </select>
    <span class="hint" id="TemplateDescription"></span>

    <div class="hint mt-1 d-none" id="ArgumentContainer">
        <span>@T["The following templates can be injected in the notification subject and body"] </span>
        <span id="ArgumentContainerBody"></span>
    </div>
</div>

<script at="Foot">
    document.addEventListener('DOMContentLoaded', function() {
        let argumentContainer = document.getElementById('ArgumentContainer');
        let menu = document.getElementById('@Html.IdFor(x => x.TemaplateName)');
        if (argumentContainer == null || menu == null) {
            return;
        }
        let argumentContainerBody = document.getElementById('ArgumentContainerBody');
        let receivers = document.getElementsByClassName('receivers-item');
        let templateDescription = document.getElementById('TemplateDescription');
        let notificationReceivers = document.getElementById('NotificationReceivers');

        menu.addEventListener('change', function(event) {
            (argumentContainerBody || argumentContainer).innerHTML = '';
            templateDescription.innerText = '';
            let isContentItemBased = false;
            if (event.target.value) {
                var selectedOptions = event.target.options[event.target.selectedIndex];

                if (selectedOptions.getAttribute('data-is-predefined-notifier') == 'true') {
                    notificationReceivers.classList.add('d-none');
                } else {
                    notificationReceivers.classList.remove('d-none');
                }

                isContentItemBased = selectedOptions.getAttribute('data-is-based-on-content-item') == 'true';

                var arguments = JSON.parse(selectedOptions.getAttribute('data-arguments') || '[]');
                templateDescription.innerText = selectedOptions.getAttribute('data-description');
                for (let i = 0; i < arguments.length; i++) {
                    (argumentContainerBody || argumentContainer).innerHTML += '<code class="badge bg-secondary me-1">{{ ' + arguments[i] + ' }}</code>';
                }
                argumentContainer.classList.remove('d-none');
            } else {
                argumentContainer.classList.add('d-none');
            }

            for (let i = 0; i < receivers.length; i++) {
                var wrapper = receivers[i].closest('.receivers-item-wrapper');
                if (wrapper != null && wrapper.classList.contains('content-based-receiver-item')) {
                    if (isContentItemBased) {
                        wrapper.classList.remove('d-none');
                    } else {
                        wrapper.classList.add('d-none');
                    }
                }
            }
        });

        menu.dispatchEvent(new Event('change'));
    });
</script>
